/*header*/


.container.navbar.navbar-brand{

	/*text-transform: uppercase;*/
	font-family: 'Satisfy', cursive;
	
}

body {

	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}



.cover-container {
  max-width: 42em;
}

.bground2 {
	width: 100%;
	height: 100vh;
	background: url(images/bground2.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

